---
import Hero from "@/components/Hero.astro";
import Services from "@/components/Services.astro";
import Layout from "@/layouts/Layout.astro";
import { getLandingData } from "@/services/data.service";

const data = await getLandingData();
---

<Layout title={data.title}>
  <main class="w-3/4">
    <Hero data={data.heroData} />
    <Services data={data.servicesData} />
  </main>
</Layout>
