---
import Hero from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Luna Landing your perfect landing page">
  <main class="w-3/4">
    <Hero />
  </main>
</Layout>
