---
import type { Icon } from "@/config/landing.interface";
import CheckIcon from "@/icons/CheckIcon.astro";
import ConfigIcon from "@/icons/ConfigIcon.astro";
import DevIcon from "@/icons/DevIcon.astro";
import FacebookIcon from "@/icons/FacebookIcon.astro";
import FileIcon from "@/icons/FileIcon.astro";
import GithubIcon from "@/icons/GithubIcon.astro";
import InstagramIcon from "@/icons/InstagramIcon.astro";
import PlanetIcon from "@/icons/PlanetIcon.astro";
import TwitterIcon from "@/icons/TwitterIcon.astro";

interface Props {
  icon: Icon;
}

const { icon } = Astro.props;

const icons = [
  ConfigIcon,
  DevIcon,
  FileIcon,
  PlanetIcon,
  CheckIcon,
  FacebookIcon,
  GithubIcon,
  InstagramIcon,
  TwitterIcon,
];

let figures: Record<string, (_props: Record<string, unknown>) => unknown> = {};

icons.map((item) => {
  figures[item.name] = item;
});

const Figure = figures[icon];
---

{Figure ? <Figure /> : <p>Icon not found</p>}
