---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
  class="scrollbar-thin scrollbar-thumb-black scrollbar-track-transparent scroll-smooth"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Landing page template" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={import.meta.env.SITE} />
    <title>{title}</title>
  </head>
  <body class="bg-white">
    <div
      class="absolute top-0 z-[-2] h-screen w-full bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
    >
    </div>
    <slot />
  </body>
</html>

<style is:global>
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
